<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>

</head>
<body style="background-color:#ebf7fc">
<h3>Sale Entry Form</h3>

{% if submit == True %}
    <div style="background-color:green" id="message">The form has been saved</div>
    <script>
        setTimeout(()=>document.getElementById("message").style.display="none",5000)
    </script>
{% endif %}

<form method="post">
    {% csrf_token %}
    {% for field in lemonade %}
    {{ field.label_tag }} {{ field }}
    {% endfor %}
    <input type="submit" name='add' value="Add items">
    <input type="submit" name='remove' value="Remove items">
    <input type="submit" name='clear' value="Clear" formnovalidate>
</form>
{% if order %}
<table style="width:350px; border: 1px solid black">
    <tr>
        <td>Lemonade</td>
        <td>Quantity</td>
    </tr>
{% for set in order %}
    <tr>
        <td>{{set.lemonade}}</td>
        <td>{{set.quantity}}</td>
    </tr>
{% endfor %}
</table>
{% endif %}
Total Price: <input type="text" value="${{ total }}" readonly>
<br>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    {{ field.label_tag }} {{ field }}
    {% endfor %}
    <input type="submit" name="submit" value="Submit Form">
</form>

{%if error_message != "" %}
<p style="color:red">{{error_message}}</p>
{%endif%}

<a href='{% url "index" %}'>Home</a>
</body>
</html>