<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body style="background-color:#ebf7fc">
<h3>Sale Entry Form</h3>

<form method="post">
    {% csrf_token %}
    {{lemonade}}
    <input type="submit" name='add' value="Add item">
    <input type="submit" name='remove' value="Remove item">
</form>
{% if order %}
<table style="width:350px; border: 1px solid black">
    <tr>
        <td>Lemonade</td>
        <td>Quantity</td>
    </tr>
{% for set in order %}
    <tr>
        <td>{{set.lemonade}}</td>
        <td>{{set.quantity}}</td>
    </tr>
{% endfor %}
</table>
{% endif %}
Total: ${{ total }}
<br>
<form method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" name="submit" value="Submit Form">
</form>
<a href='{{home}}'>Home</a>
</body>
</html>